.header {
    background: #90a970;
    color: #fff;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1 {
    margin-bottom: 15px;
    font-size: 46px;
    margin-bottom: 0;
}
.subtitle{
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-shadow: rgb(255,255,255,0.4) 2px 0px 0px, rgb(255,255,255,0.4) 1.75517px 0.958851px 0px, rgb(255,255,255,0.4) 1.0806px 1.68294px 0px, rgb(255,255,255,0.4) 0.141474px 1.99499px 0px, rgb(255,255,255,0.4) -0.832294px 1.81859px 0px, rgb(255,255,255,0.4) -1.60229px 1.19694px 0px, rgb(255,255,255,0.4) -1.97998px 0.28224px 0px, rgb(255,255,255,0.4) -1.87291px -0.701566px 0px, rgb(255,255,255,0.4) -1.30729px -1.5136px 0px, rgb(255,255,255,0.4) -0.421592px -1.95506px 0px, rgb(255,255,255,0.4) 0.567324px -1.91785px 0px, rgb(255,255,255,0.4) 1.41734px -1.41108px 0px, rgb(255,255,255,0.4) 1.92034px -0.558831px 0px;
}
.header p {
    color: #6b3e0a;
    font-size: 24px;
}

@media (max-width: 667px) {
    .header p {
        text-align: center;
    }
}

@media (max-width: 513px) {
    .header h1 {
        text-align: center;
    }
    .header h1:first-child {
        font-size: 36px;
    }
}

@media (max-width: 420px) {
    .header h1:first-child {
        font-size: 32px;
    }
    .header h1{
        font-size: 38px;
    }
    .header p {
        font-size: 22px;
    }
}