.taskbar_container {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding: 10px 0;
    background: #90a970;
}

@media (max-width: 991px) {
    .taskbar_container {
        display: flex;
    }
}